/*==================================================

+-+-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+-+
|A|u|t|h|o|r|:| |@|s|a|y|e|m|o|n|1|0|
+-+-+-+-+-+-+-+ +-+-+-+-+-+-+-+-+-+-+

Author URL: https://sayemon10.github.io
e-mail: abdulaziz.aziz99@gmail.com
twitter: @sayemon10

Version: 1.0
==================================================*/

/* Font  */

@font-face {
  font-family: "Fira Code Retina";
  src: url("../fonts/FiraCode-Light.ttf") format("truetype");
  font-display: swap;
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

body {
  font-variant-ligatures: contextual;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1rem;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* scrollbar */

body::-webkit-scrollbar {
  background-color: rgba(252, 252, 248, 1);
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: rgba(252, 252, 248, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(36, 41, 46, 1);
  border-radius: 0.4rem;
}

body::-webkit-scrollbar-button {
  display: none;
}

:root {
  --anim-ease-for-small-animations: cubic-bezier(0.645, 0.045, 0.355, 1);
  --fill: rgba(252, 252, 248, 1);
}

body.dark-mode {
  --fill: rgba(36, 41, 46, 1);
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body,
button {
  background: rgba(36, 41, 46, 1);
  color: rgba(252, 252, 248, 1);
  font-family: "Fira Code Retina", monospace;
}

::selection {
  background-color: rgba(0, 60, 215, 1);
}

body.dark-mode,
body.dark-mode button,
button.dark-mode,
button.dark-mode button {
  background: rgba(252, 252, 248, 1);
  color: rgba(36, 41, 46, 1);
}

.call,
button {
  width: 7.5rem;
  height: 1.875rem;
  border: 0.12rem solid #96979c;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #96979c;
  font-size: 1rem;
  overflow: auto;
  transition: 0.4s ease all;
  margin-right: 1rem;
}

button:last-child {
  margin-right: 0;
}

button:hover {
  background: rgba(150, 151, 156, 0.1);
  cursor: pointer;
}

.container {
  margin: 3.125rem auto;
  padding: 0.3125rem;
  max-width: 40.625rem;
}

@media (max-width: 425px) {
  .container {
    padding: 1.25rem;
  }
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-frame {
  max-width: 21.875rem;
  text-align: end;
}

.dark-mode-toggler {
  position: fixed;
  top: 0.3125rem;
  right: 0.3125rem;
}

.dark-mode-toggler label {
  position: relative;
}

.dark-mode-toggler input[type="checkbox"] {
  position: absolute;
  top: -10rem;
}

input#toggler:focus ~ label::after,
input#toggler:focus-within ~ label::after {
  background: #eb4888;
}

.dark-mode-toggler input[type="checkbox"] + label::before {
  content: "";
  display: block;
  height: 1.625rem;
  width: 3.75rem;
  background: rgba(36, 41, 46, 1);
  border: 0.12rem solid rgba(252, 252, 248, 1);
  border-radius: 1rem;
  position: absolute;
  top: 0px;
  left: -4.0625rem;
}

.dark-mode-toggler input[type="checkbox"] + label::after {
  content: "";
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  background: rgba(36, 41, 46, 1);
  border: 0.12rem solid rgba(252, 252, 248, 1);
  border-radius: 50%;
  position: absolute;
  top: 0.1875rem;
  left: -3.875rem;
  transition: all 0.4s ease-in;
}

.dark-mode-toggler input[type="checkbox"]:checked + label::before {
  background: rgba(252, 252, 248, 1);
  border: 0.12rem solid #96979c;
}

.dark-mode-toggler input[type="checkbox"]:checked + label::after {
  background: #96979c;
  border: 0.12rem solid rgba(252, 252, 248, 1);
  left: -1.75rem;
  transition: all 0.4s ease-in;
}

h1 {
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #96979c;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
}

.hire {
  font-size: 0.83rem;
}

a {
  color: #96979c;
}

a:hover {
  font-weight: bold;
}

.img-frame {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 0 0 10px 0;
  border-radius: 50%;
  overflow: hidden;
  animation: b 13s linear infinite alternate;
}

.img-frame img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.call {
  display: none;
}

.toggler {
  display: flex;
  margin: 1.5rem 0;
}

.toggler .show {
  border-color: rgba(0, 60, 215, 1);
  color: rgba(0, 60, 215, 1);
}

@media (max-width: 425px) {
  .toggler button {
    margin: 0.3125rem;
  }
}

.bio {
  display: none;
  line-height: 1.5rem;
}

.bio.show {
  display: block;
}

@keyframes b {
  0% {
    border-radius: 70% 30% 35% 65% / 60% 40% 60% 40%;
  }
  25% {
    border-radius: 60% 40% 30% 70% / 50% 30% 70% 50%;
  }
  50% {
    border-radius: 30% 70% 50% 50% / 30% 40% 60% 70%;
  }
  75% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  100% {
    border-radius: 70% 30% 35% 65% / 60% 40% 60% 40%;
  }
}

hr {
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.projects > .container {
  padding: 0;
}

.fake-heading {
  line-height: 1.5;
  font-size: 2rem;
}

.Header {
  position: relative;
}

.Header p {
  margin: 0;
}

.Header p span:not(:first-child) {
  margin-left: 2.5rem;
}

.Header h1 {
  margin-top: 1rem;
}

.Arrow {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 680px) {
  .Arrow {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
}

.Button {
  position: relative;
  width: 100%;
  text-align: left;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.Button > * {
  pointer-events: none;
}

.Button:before {
  display: none;
}

.Button img {
  position: absolute;
  right: 0;
  max-width: 32.5rem;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: var(--anim-ease-for-small-animations);
  transition-timing-function: var(--anim-ease-for-small-animations);
  opacity: 0;
  -webkit-transform: translate(10%, -20%);
  -ms-transform: translate(10%, -20%);
  transform: translate(10%, -20%);
}

@media (hover: hover) {
  .Button:hover svg {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .Button:hover img {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.Button svg {
  -webkit-transition: 0.2s -webkit-transform var(--anim-ease-for-small-animations);
  transition: 0.2s -webkit-transform var(--anim-ease-for-small-animations);
  transition: 0.2s transform var(--anim-ease-for-small-animations);
  transition: 0.2s transform var(--anim-ease-for-small-animations),
    0.2s -webkit-transform var(--anim-ease-for-small-animations);
}

a[title="email"] {
  display: flex;
  text-decoration: none !important;
  margin-top: 1rem;
}

#email {
  padding-left: 0.375rem;
  padding-top: 0.375rem;
  color: rgba(252, 252, 248, 1) !important;
  background-color: rgba(0, 60, 215, 1);
}

.email {
  width: 2rem;
  height: 2rem;
}

footer img{
  object-fit: contain;
  object-position: center;
}

footer p {
  text-align: center;
}

.tech ul {
  display: grid;
  grid-template-areas:
    "ps ai code"
    "html css js"
    "dj hugo .";
  grid-gap: 1rem;
  row-gap: 3rem;
  place-items: center;
  padding-block-start: 5rem;
  padding-inline-start: 0;
  list-style: none;
}

svg {
  height: 5rem;
}

.notice {
  display: none;
}

footer > img {
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .img-frame {
    order: 2;
  }
  .img-frame,
  .header-frame {
    margin: 0 auto 2rem;
    text-align: center;
  }
  .links a {
    margin: 0.3rem;
  }
  .call {
    display: block;
    text-align: center;
  }
}
